.fontree {
  background-color: white;
  background-image: url(../images/tree0.png);
  background-size: 700px auto;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 20px;
  -webkit-box-shadow: 1px 1px 10px;
          box-shadow: 1px 1px 10px;
  border-radius: 10px; }
  .fontree h2, .fontree label {
    font-family: 'Mirabella',Arial, Helvetica, sans-serif; }
  .fontree h2 {
    margin-bottom: 15px; }
  .fontree label {
    font-size: 20px; }

.infotext-reg {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Mirabella', Arial, Helvetica, sans-serif; }

.message-warning {
  font-family: 'Mirabella', Arial, Helvetica, sans-serif;
  font-size: 2em;
  background: url(../images/paper1.png);
  background-size: 100% 100%;
  border: none;
  padding: 20px; }

.loadershow {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: gray;
  opacity: 0.4;
  z-index: 6; }
  .loadershow .loader-back {
    background-color: gray;
    width: 200px;
    height: 200px;
    margin: 300px auto; }

.landing-page .hero {
  position: relative;
  background-image: url(../images/sany.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; }
  .landing-page .hero h1 {
    font-family: 'Mirabella', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px 0;
    font-size: 3vw;
    color: white;
    text-shadow: 4px 4px 8px black; }
  .landing-page .hero .text {
    fill: white;
    font-family: 'Mirabella', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px 0;
    font-size: 2vw;
    color: #b3c7bc;
    text-shadow: 2px 2px 20px black; }
  .landing-page .hero .btn {
    position: absolute;
    top: calc(50% + 50px);
    left: calc(40%);
    font-size: 2vw;
    font-family: 'Mirabella', Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 2px 2px 15px gray;
            box-shadow: 2px 2px 15px gray; }

.landing-page .about {
  position: relative;
  padding-top: 50px;
  display: block;
  background-image: url(../images/footprints-fon.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; }
  .landing-page .about img {
    display: inline-block;
    -webkit-filter: drop-shadow(15px 15px 15px #222);
            filter: drop-shadow(15px 15px 15px #222);
    width: 35vw; }
  .landing-page .about .text {
    display: inline-block; }
    .landing-page .about .text h2 {
      font-family: 'Mirabella', Arial, Helvetica, sans-serif;
      font-size: 2vw;
      text-align: center;
      color: #29292e; }
  .landing-page .about .btn {
    position: absolute;
    top: calc(50% + 50px);
    left: calc(50%);
    font-size: 2vw;
    font-family: 'Mirabella', Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 2px 2px 15px gray;
            box-shadow: 2px 2px 15px gray; }

.landing-page .rules {
  position: relative;
  background-image: url(../images/sneg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 60vw; }
  .landing-page .rules .slides {
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 50vw;
    height: auto; }
    .landing-page .rules .slides h5 {
      font-family: 'Mirabella',Arial, Helvetica, sans-serif;
      font-size: 1.5vw;
      color: black;
      background: white;
      opacity: 0.6;
      padding: 10px;
      border-radius: 20px; }
    .landing-page .rules .slides p {
      font-family: 'Mirabella',Arial, Helvetica, sans-serif;
      font-size: 1.3vw;
      color: black;
      background: white;
      opacity: 0.8; }
    .landing-page .rules .slides img {
      width: 50vw; }
  .landing-page .rules .btn {
    position: absolute;
    top: 40vw;
    left: 40vw;
    font-size: 2vw;
    font-family: 'Mirabella', Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 2px 2px 15px gray;
            box-shadow: 2px 2px 15px gray; }

.landing-page footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #221d1d;
  color: #bdbdbd; }
  .landing-page footer div {
    padding: 20px; }
    .landing-page footer div p {
      margin: 0;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: 1vw; }

.gameNavBar .btn {
  font-family: 'Mirabella', Arial, Helvetica, sans-serif;
  font-size: 23px;
  text-shadow: 1px 1px 2px black; }

.gameNavBar .navbar-text {
  padding: 0 5px;
  font-family: 'Mirabella', Arial, Helvetica, sans-serif;
  font-size: 2vw;
  color: #0c721d;
  text-shadow: 1px 1px 5px black; }

.gameNavBar img {
  -webkit-filter: drop-shadow(8px 8px 5px #222);
          filter: drop-shadow(8px 8px 5px #222); }

.root .score {
  max-width: 1200px;
  margin: 10px auto;
  padding: 10px; }
  .root .score h1 {
    font-family: 'Mirabella',Arial, Helvetica, sans-serif;
    font-size: 3vw;
    background: silver;
    color: #10290d;
    padding: 10px;
    text-align: center; }
  .root .score table {
    font-family: 'Mirabella',Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin: 10px auto; }
    .root .score table td {
      text-align: center; }

.game {
  max-width: 1400px;
  margin: 20px auto; }
  .game h1, .game p {
    font-family: 'Mirabella', Arial, Helvetica, sans-serif;
    text-align: center; }
  .game .wrapper {
    position: relative;
    background-image: url(../images/fon.jpg);
    background-size: 1400px auto;
    background-repeat: no-repeat;
    padding-top: 200px; }
    .game .wrapper .santa-sprite {
      position: absolute;
      top: 80px;
      left: 0; }
    .game .wrapper .monster-sprite {
      position: absolute;
      top: 20px;
      left: 580px; }
  .game img.gametree {
    -webkit-filter: drop-shadow(8px 8px 5px #222);
            filter: drop-shadow(8px 8px 5px #222); }
  .game .user-progress {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 500px; }
  .game .monster-progress {
    position: absolute;
    top: 30px;
    left: 530px;
    width: 500px; }
  .game .specEffectSanta {
    position: absolute;
    top: 210px;
    left: 40px;
    width: 400px;
    z-index: 5; }
  .game .specEffectMonster {
    position: absolute;
    top: 180px;
    left: 600px;
    width: 500px;
    z-index: 6; }

.disabled {
  opacity: 0.65;
  cursor: not-allowed; }

.santa {
  position: relative; }
  .santa img {
    width: 400px;
    position: absolute;
    -webkit-filter: drop-shadow(8px 8px 5px #222);
            filter: drop-shadow(8px 8px 5px #222);
    -webkit-perspective: 200px;
            perspective: 200px; }
  .santa .s-body-breath {
    -webkit-animation: s-body-breath 2.5s infinite;
            animation: s-body-breath 2.5s infinite; }
  .santa .s-head-breath {
    -webkit-animation: s-head-breath 2.5s infinite;
            animation: s-head-breath 2.5s infinite; }
  .santa .s-rightArm-breath {
    -webkit-animation: s-rightArm-breath 2.5s infinite;
            animation: s-rightArm-breath 2.5s infinite; }
  .santa .s-leftArm-breath {
    -webkit-animation: s-leftArm-breath 2.5s infinite;
            animation: s-leftArm-breath 2.5s infinite; }
  .santa .s-head-break {
    -webkit-transform-origin: 45% 35%;
        -ms-transform-origin: 45% 35%;
            transform-origin: 45% 35%;
    -webkit-animation: s-headbreak 2s;
            animation: s-headbreak 2s; }
  .santa .s-rightArm-shot {
    -webkit-transform-origin: 40% 33%;
        -ms-transform-origin: 40% 33%;
            transform-origin: 40% 33%;
    -webkit-animation: s-rightarmshot 2s;
            animation: s-rightarmshot 2s; }

@-webkit-keyframes s-body-breath {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.06, 1.06);
            transform: scale(1.06, 1.06); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes s-body-breath {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.06, 1.06);
            transform: scale(1.06, 1.06); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@-webkit-keyframes s-head-breath {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes s-head-breath {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes s-rightArm-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-3px, -7px);
            transform: translate(-3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes s-rightArm-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-3px, -7px);
            transform: translate(-3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes s-leftArm-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3px, -7px);
            transform: translate(3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes s-leftArm-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3px, -7px);
            transform: translate(3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes s-headbreak {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg); } }

@keyframes s-headbreak {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg); } }

@-webkit-keyframes s-rightarmshot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  90% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes s-rightarmshot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  90% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

.monster {
  position: relative; }
  .monster img {
    position: absolute;
    width: 450px;
    -webkit-filter: drop-shadow(8px 8px 5px #222);
            filter: drop-shadow(8px 8px 5px #222); }
  .monster .m-body-breath {
    -webkit-animation: m-body-breath 3s infinite;
            animation: m-body-breath 3s infinite; }
  .monster .m-head-breath {
    -webkit-animation: m-head-breath 3s infinite;
            animation: m-head-breath 3s infinite; }
  .monster .m-rightArm-breath {
    -webkit-animation: m-rightArm-breath 3s infinite;
            animation: m-rightArm-breath 3s infinite; }
  .monster .m-leftArm-breath {
    -webkit-animation: m-leftArm-breath 3s infinite;
            animation: m-leftArm-breath 3s infinite; }
  .monster .m-weapon-breath {
    -webkit-animation: m-weapon-breath 3s infinite;
            animation: m-weapon-breath 3s infinite; }
  .monster .m-rightLeg-shot {
    -webkit-animation: m-rightLeg-shot 2s;
            animation: m-rightLeg-shot 2s; }
  .monster .m-rightArm-shot {
    -webkit-transform-origin: 45% 35%;
        -ms-transform-origin: 45% 35%;
            transform-origin: 45% 35%;
    -webkit-animation: m-rightArm-shot 2s;
            animation: m-rightArm-shot 2s; }
  .monster .m-leftArm-shot {
    -webkit-transform-origin: 65% 30%;
        -ms-transform-origin: 65% 30%;
            transform-origin: 65% 30%;
    -webkit-animation: m-leftArm-shot 2s;
            animation: m-leftArm-shot 2s; }
  .monster .m-weapon-shot {
    -webkit-transform-origin: 65% 30%;
        -ms-transform-origin: 65% 30%;
            transform-origin: 65% 30%;
    -webkit-animation: m-weapon-shot 2s;
            animation: m-weapon-shot 2s; }
  .monster .m-head-break {
    -webkit-transform-origin: 45% 35%;
        -ms-transform-origin: 45% 35%;
            transform-origin: 45% 35%;
    -webkit-animation: m-headbreak 2s;
            animation: m-headbreak 2s; }
  .monster .m-leftArm-break {
    -webkit-animation: m-leftarmbreak 2s;
            animation: m-leftarmbreak 2s; }
  .monster .m-weapon-break {
    -webkit-animation: m-weapon 2s;
            animation: m-weapon 2s; }
  .monster .m-rightArm-break {
    -webkit-animation: m-rightarmbreak 2s;
            animation: m-rightarmbreak 2s; }

@-webkit-keyframes m-leftarmbreak {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(150px, -150px);
            transform: translate(150px, -150px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes m-leftarmbreak {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(150px, -150px);
            transform: translate(150px, -150px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes m-rightarmbreak {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-150px, -150px);
            transform: translate(-150px, -150px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes m-rightarmbreak {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-150px, -150px);
            transform: translate(-150px, -150px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes m-weapon {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(150px, -150px);
            transform: translate(150px, -150px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes m-weapon {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(150px, -150px);
            transform: translate(150px, -150px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes m-headbreak {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@keyframes m-headbreak {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@-webkit-keyframes m-body-breath {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.06, 1.06);
            transform: scale(1.06, 1.06); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes m-body-breath {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.06, 1.06);
            transform: scale(1.06, 1.06); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@-webkit-keyframes m-head-breath {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes m-head-breath {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes m-rightArm-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3px, -7px);
            transform: translate(3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes m-rightArm-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3px, -7px);
            transform: translate(3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes m-leftArm-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3px, -7px);
            transform: translate(3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes m-leftArm-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3px, -7px);
            transform: translate(3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes m-weapon-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3px, -7px);
            transform: translate(3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes m-weapon-breath {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3px, -7px);
            transform: translate(3px, -7px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes m-rightLeg-shot {
  0% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); }
  95% {
    -webkit-transform: translate(3px, -10px) rotate(30deg);
            transform: translate(3px, -10px) rotate(30deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg); } }

@keyframes m-rightLeg-shot {
  0% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); }
  95% {
    -webkit-transform: translate(3px, -10px) rotate(30deg);
            transform: translate(3px, -10px) rotate(30deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg); } }

@-webkit-keyframes m-rightArm-shot {
  0% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); }
  95% {
    -webkit-transform: translate(3px, -7px) rotate(80deg);
            transform: translate(3px, -7px) rotate(80deg); }
  100% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); } }

@keyframes m-rightArm-shot {
  0% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); }
  95% {
    -webkit-transform: translate(3px, -7px) rotate(80deg);
            transform: translate(3px, -7px) rotate(80deg); }
  100% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); } }

@-webkit-keyframes m-leftArm-shot {
  0% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); }
  95% {
    -webkit-transform: translate(3px, -7px) rotate(60deg);
            transform: translate(3px, -7px) rotate(60deg); }
  100% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); } }

@keyframes m-leftArm-shot {
  0% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); }
  95% {
    -webkit-transform: translate(3px, -7px) rotate(60deg);
            transform: translate(3px, -7px) rotate(60deg); }
  100% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); } }

@-webkit-keyframes m-weapon-shot {
  0% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); }
  95% {
    -webkit-transform: translate(3px, -7px) rotate(70deg);
            transform: translate(3px, -7px) rotate(70deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg); } }

@keyframes m-weapon-shot {
  0% {
    -webkit-transform: translate(0, 0) rotateY(0deg);
            transform: translate(0, 0) rotateY(0deg); }
  95% {
    -webkit-transform: translate(3px, -7px) rotate(70deg);
            transform: translate(3px, -7px) rotate(70deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg); } }

.progress {
  -webkit-box-shadow: 2px 2px 10px gray;
          box-shadow: 2px 2px 10px gray; }
  .progress .progress-bar {
    padding: 20px; }
    .progress .progress-bar h3 {
      font-family: 'Mirabella', Arial, Helvetica, sans-serif;
      color: #1e2c31; }

.bg-hp-100 {
  background: #0bf551; }

.bg-hp-95 {
  background: #0bf551; }

.bg-hp-90 {
  background: #0bf551; }

.bg-hp-85 {
  background: #0bf551; }

.bg-hp-80 {
  background: #0bf551; }

.bg-hp-75 {
  background: #0bf5e2; }

.bg-hp-70 {
  background: #0bf5e2; }

.bg-hp-65 {
  background: #0bf5e2; }

.bg-hp-60 {
  background: #0bf5e2; }

.bg-hp-55 {
  background: #f5740b; }

.bg-hp-50 {
  background: #f5740b; }

.bg-hp-45 {
  background: #f5740b; }

.bg-hp-40 {
  background: #f5740b; }

.bg-hp-35 {
  background: #f5740b; }

.bg-hp-30 {
  background: #f5740b; }

.bg-hp-25 {
  background: #f50b1f; }

.bg-hp-20 {
  background: #f50b1f; }

.bg-hp-15 {
  background: #f50b1f; }

.bg-hp-10 {
  background: #f50b1f; }

.bg-hp-5 {
  background: #f50b1f; }

.bg-hp-0 {
  background: #e9e9e9; }

.a-breath {
  -webkit-animation: breath 10s infinite;
          animation: breath 10s infinite; }

@-webkit-keyframes breath {
  0% {
    -webkit-transform: scale(1, 1) skewX(0);
            transform: scale(1, 1) skewX(0); }
  25% {
    -webkit-transform: scale(1.06, 1.06) skewX(22deg);
            transform: scale(1.06, 1.06) skewX(22deg); }
  75% {
    -webkit-transform: scale(1.1, 1.06) skewX(-22deg);
            transform: scale(1.1, 1.06) skewX(-22deg); }
  100% {
    -webkit-transform: scale(1, 1) skewX(0);
            transform: scale(1, 1) skewX(0); } }

@keyframes breath {
  0% {
    -webkit-transform: scale(1, 1) skewX(0);
            transform: scale(1, 1) skewX(0); }
  25% {
    -webkit-transform: scale(1.06, 1.06) skewX(22deg);
            transform: scale(1.06, 1.06) skewX(22deg); }
  75% {
    -webkit-transform: scale(1.1, 1.06) skewX(-22deg);
            transform: scale(1.1, 1.06) skewX(-22deg); }
  100% {
    -webkit-transform: scale(1, 1) skewX(0);
            transform: scale(1, 1) skewX(0); } }

.message-warning {
  font-family: 'Mirabella', Arial, Helvetica, sans-serif;
  font-size: 2em;
  background: url(../images/paper2.png);
  background-size: 100% 100%;
  border: none;
  padding: 20px; }

.mathtask {
  text-align: center; }

.message-warning {
  font-family: 'Mirabella', Arial, Helvetica, sans-serif;
  font-size: 2em;
  background: url(../images/paper2.png);
  background-size: 100% 100%;
  border: none;
  padding: 20px; }

.game-container {
  height: 100px; }
  .game-container .letter {
    display: inline-block;
    float: left;
    background: #fd5d01;
    padding: 0 10px;
    -webkit-box-shadow: 2px 2px 10px gray;
            box-shadow: 2px 2px 10px gray;
    border-radius: 10px; }
    .game-container .letter p {
      padding: 0;
      margin: 0; }

.translate {
  text-align: center; }

@font-face {
  font-family: 'Mirabella';
  src: url(../fonts/Mirabella.ttf.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Bold.ttf) format("truetype"); }

